.container
  .font-serif.mb-4.text-2xl Sign up

  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", :class => 'text-field'
    .field
      = f.label :password
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} characters minimum)
      %br/
      = f.password_field :password, autocomplete: "new-password", :class => 'text-field'
    .field
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password", :class => 'text-field'
    .actions
      = f.submit "Sign up", :class => 'btn-primary'
  = render "devise/shared/links"
