-# single comment
- present comment do |comment_presenter|
  - present comment.user do |user_presenter|
    = turbo_frame_tag dom_id(comment) do
      .flex.items-center.justify-center.pb-1
        .rounded.border.p-2.shadow.w-full
          .flex.w-full.items-center.justify-between.border-b.pb-2
            .flex.items-center.gap-2
              .h-10.w-10
                = user_presenter.user_avatar_display
              .font-semibold.text-slate-700
                = user_presenter.link_to_user_page({data: {turbo_frame: "_top"}, class: ""}) # make this link to redirect at user's profile page
            .flex.items-center.gap-2
              = comment_presenter.edit_action(current_user, comment.user)
              = comment_presenter.delete_action(current_user, comment.user)
              .text-xs.text-neutral-500
                = comment.created_at.strftime("%B %d, %Y")
          .mt-2.mb-2
            .text-sm
              = simple_format comment.body
