- if current_user
  = form_with model: @comment, url: add_comment_path do |f|
    = f.text_field :plant_id, value: @plant.id, type: 'hidden'
    = f.text_field :user_id, value: current_user.id, type: 'hidden'
    = f.rich_text_area :body
    = f.submit 'Post comment', class: 'btn-primary mt-2'
- else
  .p-2.mt-6.gap-4
    .text-2xl.font-serif Login first to post a comment
    .mt-4= link_to 'Login', new_user_session_path, class: 'btn-primary'