= turbo_frame_tag dom_id(@comment) do
  .pb-2
    = form_with model: @comment do |f|
      = f.rich_text_area :body
      = link_to 'Cancel', plant_path(@comment.plant)
      = f.submit 'Update comment', class: 'btn-primary mt-2'