-#
= turbo_stream_from current_user, :counter
= turbo_stream_from current_user, :notification_pluralization
%nav.border-b.py-6
  .menu
    .container  
      .flex.flex-wrap.justify-between.items-center
        .flex.items-center
          .mx-5.text-3xl.font-bold
            = link_to 'Home', root_path
          %ul.flex.items-center.flex-col.md:flex-row.md:space-x-5.w-full
            %li
              = link_to 'Plants', plants_path, class: class_names(current_page?(plants_path) ? 'active' : 'navlink')
            %li
              = link_to 'People', people_path, class: class_names(current_page?(people_path) ? 'active' : 'navlink')

        .flex.items-center.gap-2
          - if user_signed_in?
            = link_to notifications_path do
              %button.btn-primary
                %span#notification_pluralization.mr-2= @unread_count == 1 ? "Notification" : "Notifications"
                %span#counter.inline-flex.items-center.justify-center.px-2.py-1.text-xs.font-bold.leading-none.text-red-100.bg-red-600.rounded-full= @unread_count >= 9 ? "9+" : @unread_count
            .btn-primary= link_to current_user.email, profile_path(current_user)
            = link_to "Settings", edit_user_registration_path(current_user), class: 'btn-primary'
            .btn-primary= button_to "Exit", destroy_user_session_path, :method => 'delete'
          - else
            = link_to 'Login', new_user_session_path, :class => 'btn-primary'
            = link_to 'Sign Up', new_user_registration_path, :class => 'btn-primary'
