-#
= turbo_stream_from current_user, :counter
%nav.border-b.py-6
  .menu
    .container  
      .flex.flex-wrap.justify-between.items-center
        .flex.items-center
          .mx-5.text-3xl.font-bold
            = link_to 'Home', root_path
          %ul.flex.items-center.flex-col.md:flex-row.md:space-x-5.w-full
            %li
              = link_to 'Plants', plants_path, class: class_names(current_page?(plants_path) ? 'active' : 'navlink')
            %li
              = link_to 'People', people_path, class: class_names(current_page?(people_path) ? 'active' : 'navlink')

        .flex.items-center.gap-2
          - if user_signed_in?
            = link_to notifications_path do
              %button.py-4.px-2.relative.text-gray-800.rounded-full.hover:text-gray-600.focus:outline-none
                %svg.h-7.w-7{:fill => "none", :stroke => "currentColor", "stroke-linejoin" => "round", "stroke-width" => "2", :viewbox => "0 0 24 24"}
                  %path{:d => "M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"}
                %span.absolute.inset-0.object-right-top.-mr-6
                  #counter.inline-flex.justify-center.border.items-center.border-red-700.rounded-full.text-xs.font-semibold.bg-red-500.text-white.w-5.h-5
                    = current_user.notifications.unread.count >= 9 ? "9+" : current_user.notifications.unread.count

            .btn-primary= link_to current_user.email, profile_path(current_user)
            = link_to "Settings", edit_user_registration_path(current_user), class: 'btn-primary'
            .btn-primary= button_to "Exit", destroy_user_session_path, :method => 'delete'
          - else
            = link_to 'Login', new_user_session_path, :class => 'btn-primary'
            = link_to 'Sign Up', new_user_registration_path, :class => 'btn-primary'
