-# 

%nav.border-b.px-4.lg:px-6.py-2.5
  .flex.flex-wrap.justify-between.items-center.max-w-screen-xl
    .flex.items-center
      .mx-5.text-3xl.font-bold
        = link_to 'Home', root_path
      %ul.flex.items-center.flex-col.md:flex-row.md:space-x-5.w-full
        %li
          = link_to 'plants', plants_path, class: class_names(current_page?(plants_path) ? 'active' : 'navlink')
        %li
          = link_to 'people', people_path, class: class_names(current_page?(people_path) ? 'active' : 'navlink')
    
    .flex.items-center.gap-2
      - if user_signed_in?
        .btn-primary= link_to "#{current_user.email}"
        = button_to 'Log out', destroy_user_session_path, :method => 'delete', :class => 'btn-primary'
      - else
        = link_to 'Login', new_user_session_path, :class => 'btn-primary'
        = link_to 'Sign Up', new_user_registration_path, :class => 'btn-primary'
