.text-center.justify-content-center.mb-4.text-emerald-600
  %p= title

.grid.gap-6.md:grid-cols-2
  - users.each do |user|
    - present user do |user_presenter|
      .grid.grid-cols-3.grid-rows-5.shadow-lg.border.rounded
        .row-span-5.items-center.p-4.flex.flex-1.justify-center
          = user_presenter.user_avatar_display
        .flex.flex-col.justify-center.col-span-2.border-b
          .text-center.font-serif.text-xl.cursor-pointer.text-blue-400.hover:underline
            = link_to user.username, profile_path(user)
        .col-span-2.row-span-3.border-b
          .p-2.italic about
        .flex.flex-col.justify-center.text-center.border-r
          = pluralize(user.plants_count, "plant")
        .flex.flex-col.justify-center.text-center
          = "#{ user.comments_count} comments"
