.max-w-5xl.mx-auto.lg:grid.grid-cols-1.lg:grid-cols-12.gap-x-12.gap-y-4.relative.z-20
  .lg:col-span-12.text-center
    .flex.justify-center.mb-4
      = image_tag "plant_logo.png", size: "200"
    %h1.mb-4.text-5xl.font-semibold.text-gray-800.text-center.mt-3 PlantzApp
    %p.leading-snug.text-gray-700.text-lg.max-w-3xl.mx-auto.pb-6 Find new house plants, ask the community and get personalized watering reminders.

  .lg:col-span-12.mb-5
    %h2.font-semibold.text-2xl.mb-4 Houseplants
    %ul.flex.flex-wrap.items-center.text-sm.font-medium.text-center.text-white.border-b-2.border-emerald-600
      %li.mr-2
        = link_to 'Most Recent', most_recent_plants_path, class: 'house-plant-tabs inline-block p-4 text-black hover:bg-blue-200 bg-blue-700', data: { turbo_frame: 'house_plant_tabs' }
      %li.mr-2
        = link_to 'Top 10', top_ten_plants_path, class: 'house-plant-tabs inline-block p-4 text-black bg-emerald-300 hover:bg-blue-200', data: { turbo_frame: 'house_plant_tabs' }
      %li.mr-2
        = link_to 'Categories', plants_category_path, class: 'house-plant-tabs inline-block p-4 text-black bg-emerald-300 hover:bg-blue-200', data: { turbo_frame: 'house_plant_tabs' }
      %li.ml-auto
        = search_form_for @q do |f|
          .block.p-4.pl-10.w-full.text-sm.text-gray-900
            = f.search_field :name_or_latin_cont, placeholder: 'Search for a plant', class: "rounded focus:ring-2 focus:outline-none focus:ring-emerald-500"
            = f.button do
              %svg.mr-2{fill: "#047857", height: "22", version: "1.1", viewbox: "0 0 26 28", width: "26", xmlns: "http://www.w3.org/2000/svg"}
                %path{d: "M18 13c0-3.859-3.141-7-7-7s-7 3.141-7 7 3.141 7 7 7 7-3.141 7-7zM26 26c0 1.094-0.906 2-2 2-0.531 0-1.047-0.219-1.406-0.594l-5.359-5.344c-1.828 1.266-4.016 1.937-6.234 1.937-6.078 0-11-4.922-11-11s4.922-11 11-11 11 4.922 11 11c0 2.219-0.672 4.406-1.937 6.234l5.359 5.359c0.359 0.359 0.578 0.875 0.578 1.406z"}
    = render "plants/carousel_for_plants", plants: @most_recent_plants   

  .lg:col-span-12
    %h2.font-semibold.text-2xl.mb-4 Community
    %ul.flex.flex-wrap.items-center.text-sm.font-medium.text-center.text-white.border-b-2.border-emerald-600
      %li.mr-2
        %a.inline-block.p-4.bg-emerald-700.active:bg-emerald-700{"aria-current" => "page", href: "#"} All
      %li.mr-2
        %a.inline-block.p-4.text-black.bg-emerald-300.hover:bg-emerald-400{href: "#"} Popular topics

      %li.ml-auto
        %button.text-black.p-3.flex.items-center.hover:bg-emerald-300
          %svg.mr-2{fill: "#1a171b", height: "28", version: "1.1", viewbox: "0 0 26 28", width: "28", xmlns: "http://www.w3.org/2000/svg"}
            %title search1
            %path{d: "M47.787 5.849a.728.728 0 0 0-.515-1.242h-2.851l3.365-3.363A.728.728 0 1 0 46.757.215L43.394 3.58V.728a.727.727 0 0 0-1.242-.514l-4.277 4.277A23.766 23.766 0 0 0 24 0a24 24 0 1 0 24 24 23.765 23.765 0 0 0-4.493-13.873zm-5.848-3.365v2.852a.729.729 0 0 0 .728.727h2.85L40.183 11.4h-3.577V7.819zM46.545 24a22.648 22.648 0 1 1-9.7-18.479L35.365 7a.728.728 0 0 0-.214.514v4.3l-1.58 1.58a14.222 14.222 0 0 0-8.843-3.666V7.517a.728.728 0 1 0-1.456 0v2.219A14.3 14.3 0 0 0 9.733 23.275H7.515a.727.727 0 1 0 0 1.454h2.218a14.3 14.3 0 0 0 13.539 13.539v2.219a.728.728 0 0 0 1.456 0v-2.219a14.3 14.3 0 0 0 13.538-13.539h2.219a.727.727 0 1 0 0-1.454h-2.219a14.226 14.226 0 0 0-3.666-8.844l1.581-1.58h4.3a.736.736 0 0 0 .519-.213l1.463-1.463A22.292 22.292 0 0 1 46.545 24zm-11.878.726h2.145a12.843 12.843 0 0 1-12.084 12.086v-2.145a.728.728 0 0 0-1.456 0v2.145a12.842 12.842 0 0 1-12.084-12.084h2.145a.727.727 0 1 0 0-1.454h-2.145a12.846 12.846 0 0 1 12.084-12.086v2.146a.728.728 0 0 0 1.456 0v-2.146a12.783 12.783 0 0 1 7.814 3.242l-5.85 5.85a4.644 4.644 0 1 0 1.028 1.029l5.85-5.852a12.784 12.784 0 0 1 3.241 7.816h-2.145a.728.728 0 1 0 0 1.455zm-11.182-.213a.728.728 0 0 0 1.029 0l2.161-2.16A3.118 3.118 0 0 1 27.152 24 3.151 3.151 0 1 1 24 20.849a3.118 3.118 0 0 1 1.646.477l-2.161 2.162a.725.725 0 0 0 0 1.027z"}
          = link_to "Top growers", top_growers_path, class: "text-base"

          -# <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48.001"><path d= fill="#1a171b"/></svg>

    .flex.items-center.justify-center.w-full.h-min.sm:py-8
      %button#prev.-ml-10.focus:outline-none.focus:bg-gray-400.focus:ring-2.focus:ring-offset-2.focus:ring-gray-400.cursor-pointer{"aria-label" => "slide backward"}
        %svg{fill: "none", height: "20", viewbox: "0 0 8 14", width: "12", xmlns: "http://www.w3.org/2000/svg"}
          %path{d: "M7 1L1 7L7 13", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
      .w-full.h-min.mx-auto.overflow-x-hidden.overflow-y-hidden
        #slider.h-80.w-80.flex.lg:gap-8.md:gap-6.gap-14
          .w-full.p-5.bg-gray-200.flex.flex-col.flex-shrink-0
            %h3.text-xl.mb-3.lg:text-2xl.font-semibold.leading-5.lg:leading-6 Comment 1
            %p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus suscipit adipisci veniam officia beatae, necessitatibus consectetur officiis tempore! Blanditiis, sed.
          .w-full.p-5.bg-gray-200.flex.flex-col.flex-shrink-0
            %h3.text-xl.mb-3.lg:text-2xl.font-semibold.leading-5.lg:leading-6 Comment 2
            %p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus suscipit adipisci veniam officia beatae, necessitatibus consectetur officiis tempore! Blanditiis, sed.
          .w-full.p-5.bg-gray-200.flex.flex-col.flex-shrink-0
            %h3.text-xl.mb-3.lg:text-2xl.font-semibold.leading-5.lg:leading-6 Comment 3
            %p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus suscipit adipisci veniam officia beatae, necessitatibus consectetur officiis tempore! Blanditiis, sed.
      %button#next.-mr-10.focus:outline-none.focus:bg-gray-400.focus:ring-2.focus:ring-offset-2.focus:ring-gray-400{"aria-label" => "slide forward"}
        %svg{fill: "none", height: "20", viewbox: "0 0 8 14", width: "12", xmlns: "http://www.w3.org/2000/svg"}
          %path{d: "M1 1L7 7L1 13", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}

= render "active_link_change"