.flex.p-2.mt-4
  = paginate @plants

.grid.grid-cols-2.gap-y-10.md:grid-cols-4.lg:grid-cols-5.gap-x-6.mt-10
  - @plants.each do |plant|
    .grid.shadow.hover:shadow-lg.rounded
      .flex.items-center.justify-center
        = link_to plant_img_index(plant), plant
      .text-center.text-2xl.font-serif.mt-3.cursor-pointer.text-green-900.hover:underline
        = link_to plant.name, plant_path(plant)
      .text-center.mt-2.mb-3
        = plant.latin
      
.flex.p-2.mt-10= paginate @plants