-# list of all

.container
  .pb-4.border-b
    = search_form_for @q do |f|
      .font-serif.text-xl Search for a plant
      = f.label 'Latin or Name Contains:', :class => 'font-serif text-xl'
      = f.search_field :name_or_latin_cont, :class => 'text-field'
      = f.submit 'Search', :class => 'btn-primary'
  
  = render 'plant'