= turbo_frame_tag 'house_plant_tabs' do
  = render 'plants/swiper_script'
  #swiper.swiper.mySwiper
    .swiper-wrapper
      - @categories.each do |category|
        .swiper-slide.flex.flex-col.justify-center.items-center.bg-gradient-to-b.from-blue-200.to-green-200.p-5.bg-gray-200
          = search_form_for @q, data: { turbo_frame: '_top' } do |f|
            = f.search_field :category_cont, value: category, type: 'hidden'
            = f.submit category, class: 'p-2 cursor-pointer text-xl text-center align-middle lg:text-2xl font-semibold leading-5 lg:leading-6 text-white'

    .swiper-button-next
    .swiper-button-prev
    .swiper-pagination

