.font-serif.text-2xl.font-extrabold.tracking-tight.text-gray-900 
  = "Welcome to #{@user.username}'s garden!"

.flex.justify-between
  - if user_signed_in?
    %div
      Signed in as #{current_user.email}. #{link_to "All notifications", notifications_path, class: "text-blue-500"}
    = turbo_frame_tag "notifications", src: notifications_path
  - else
    = link_to "Sign in", new_user_session_path, class: "text-blue-500"

.flex.p-2.mt-4.justify-center
  = paginate @user_plants
.bg-white
  .grid.grid-cols-1.gap-y-10.sm:grid-cols-2.md:grid-cols-4.lg:grid-cols-5.gap-x-6.mt-10
    - @user_plants.each do |plant|
      .grid.rounded-lg.shadow-lg.overflow-hidden 
        .flip
          .flip-content.self-center
            .card-front.items-center.justify-center.w-full.h-full
            = plant_img(plant)
            .card-back.bg-gradient-to-b.from-blue-200.to-green-200.h-full.overflow-hidden.border
              .text-center.md:text-xs.text-xs.justify-items-center.md:mt-4.mt-12
                %div Watering
                .font-serif.font-semibold.sm:text-lg.md:text-sm.text-lg.mx-4= plant.watering
              .text-center.md:text-xs.text-xs.mt-3.mb-24
                .p2 Ideal Lighting
                .font-serif.font-semibold.sm:text-lg.md:text-sm.text-lg.mx-4= plant.ideallight
            
        .items-center.mx-3
        .text-center.font-serif.mt-3.text-base.cursor-pointer.font-semibold.text-green-900.hover:underline
          = link_to plant.name, plant_path(plant)
        .text-center.mt-2.mb-3
          = plant.latin

.flex.p-2.justify-center= paginate @user_plants
